/* ADD YOUR STYLES HERE */
body {
    height: 100vh;
    width: 100%;

    background-color: rgb(246, 246, 240);
    color:  rgb(10, 11, 11);

  /*  font styling */
    font-family: "Archivo", sans-serif;

    display: flex;
    align-items: center;
}

#fullpage {
    width: 100vw;
}

/*.headerr {*/
/*    color: whitesmoke;*/
/*    background-color: rgb(10, 11, 11);*/
/*}*/

.center {
    text-align: center;
}

.no-flex {
    flex: 0 !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.col {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.justify-content-top {
    align-items: flex-start;
}

div > svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.explanation-col{
    z-index: 0
}

.titles {
    margin-top: 3cm;
    text-align: center;
    font-family: "Archivo", sans-serif;
}

h1 {
    font-size: 60px;
    color: #0acf4f;
    margin-bottom: 40px;
    font-family: "Archivo", sans-serif;
}

text {
    fill: black;
    font-family: "Archivo", sans-serif;
}


.section {
    padding: 40px;
}

.transition {
    font-family: "Archivo", sans-serif;
    font-size: 18px;
    text-align: left;
    padding: 40px;
    margin-top: 20px;
    color: black;
    background-color: rgb(246, 246, 240);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.transition-content {
    max-width: 60ch;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.border {
    padding: 16px 24px;
    border: 3px black dotted;
    border-radius: 6px;
}

.transition-content p {
    margin: 0;
    line-height: 27px;
}

.transition-content h1 {
    margin: 0;
    font-size: 28px;
}


.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.title-container h1 {
    margin: 0;
    flex: 0;
    min-width: 600px;
}

.spotify-icon {
    width: 120px;
    display: inline;
}

.hook {
    /* margin: 1cm; */
    text-align: center;
}

.typewrite {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

h3 {
    text-decoration: none;
    color:#6b6b71;
    font-family: "Archivo", sans-serif;
}

/* flying music notes background */
/* https://codepen.io/MaryG/pen/wJMMdw */

  .muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0 solid #000;
  }

  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }

  .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }

  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }

  .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }

  .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }

  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }


/* arrow down */
/* transitions to next section of website */
/* Toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1f78b4;
    width: 36px;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1f78b4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    width: 36px;
}

.slider.round:before {

    border-radius: 50%;
}

/* histogram */
#histogram .histogram-bar:hover {
    cursor: pointer;
}

#histogram svg {
    overflow: visible
}

.histogram-panel {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
    color: black;
    width: 350px;
    border: 1px solid rgba(0,0,0,0.1);
}

.filler-text {
    text-decoration-skip: none;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    margin: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;

}

.histogram-panel-content  h3 {
    color: black;
}

.histogram-panel-content  h2 {
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.histogram-panel-content  p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.toggle-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-container label {
    margin-bottom: 0;
}

.interaction-options-text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

.histogram-panel-songContainer {
    margin-bottom: 15px;
}

.histogram-panel-songItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.histogram-panel-songContent {
    display: flex;
    flex-direction: row;
    gap: 9px;
    /*align-items: center;*/
}

.histogram-panel-songImage {
    height: 35px;
    width: 35px;
}

h3.histogram-panel-songTitle {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: black;
}

p.histogram-panel-songArtist {
    font-size: 12px;
    margin: 0;
    color: rgba(0, 0, 0, 0.41);
}

p.histogram-panel-songTopYear {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: calc(35px + 9px);
    color: rgba(0, 0, 0, 0.61);
}

.histogram-panel-playButton img {
    height: 18px;
    margin-left: 12px;
    filter: brightness(0);
}

.histogram-panel-playButton img:hover {
    opacity: .6;
    transition: .4s;
}

.histogram-panel-playlistPicture {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.histogram-panel-playlistPicture img {
    width: 100%;
    filter: brightness(65%);
    min-height: 50px;
}

.histogram-panel-playlistPicture h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    margin-bottom: 20px;
}

.histogram-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    gap: 20px;
}

#histogramSlider {
    height: 10px;
    flex: 1;
}

#histogramSlider, #histogramSlider .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
#histogramSlider .noUi-handle::before,
#histogramSlider .noUi-handle::after {
    display: none;
}

#histogramSlider .noUi-connect {
    background: #1f78b4;
}

#histogramSlider .noUi-target {
    border: none !important;
}

#histogramSlider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

.hist-slider-label {
    width: 38px;
    font-size: 13px;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
}

/* timeline */

.event-tooltip-container {
    background-color: rgba(241, 241, 241, 0.9);
    padding: 20px;
    border: 1px rgba(189, 189, 189, 0.9) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: black;
}

.event-tooltip-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.event-tooltip-image {
    max-width: 30px;
    max-height: 30px;
}

.event-tooltip-eventName h3 {
    color: black;
    font-size: 17px;
    margin: 0;
    flex: 0;
    font-weight: normal;
}

.event-tooltip-eventName p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}

.event-tooltip-eventDetails p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    margin-top: 8px;
}

.timeline-select-container {
    margin-bottom: 50px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.timeline-select-container select {
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-left: 8px;
}

.explanation {
    display: none;
}

.sources {
    font-size: 9px;
    color: rgba(0,0,0,0.4);
    margin-top: 50px;
    display: none;
}

.sources a {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
    display: block;
}

/* diy song */
.diy-song-section-container {
    display: flex;
    flex-direction: column;
}

.diy-song-header-container {
    display: flex;
    flex-direction: column;
}

.diy-song-slider-header-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    position: relative;
}

.question-icon {
    width: 15px;
    height: 15px;
    filter: brightness(0);
}

.question-icon:hover {
    transition: .3s;
    filter: brightness(30%);
}

.feature-tooltip-container {
    /*visibility: hidden;*/
    position: absolute;
    z-index: 1;
    left: 105%;
    width: 400px;
    background-color: rgba(220, 220, 220, 0.9);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0;
}

.diy-song-vis-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 30px;
}

.dj-panel {
    flex: 1;
}

.diy-output-col {
    flex: none;
    width: 350px;
}

.diy-song-slider {
    height: 10px;
    flex: 1;
    margin: 20px 10px;
}

.diy-song-slider, .diy-song-slider .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.diy-song-slider .noUi-handle::before,
.diy-song-slider .noUi-handle::after {
    display: none;
}

.diy-song-slider .noUi-connect {
    background: #1f78b4;
}

.diy-song-slider .noUi-target {
    border: none !important;
}

.diy-song-slider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

.diy-song-slider-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.diy-song-slider-label {
    font-size: 13px;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
}

#generateSongButton {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
}

#generateSongButton:hover {
    background-color: #606060;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

#diy-song-output-container {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px;
}

#diy-song-output-container  h3 {
    color: black;
    margin-top: 0;
}

.diy-panel-songPicture {

}

.diy-panel-songPicture {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.diy-panel-songPicture > img {
    width: 100%;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.diy-panel-songPicture h2 {
    font-size: 17px;
}

.diy-panel-songPicture h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.diy-panel-songPicture h4 {
    font-size: 13px;
    color: #afafaf;
    margin: 0;
}

.top-song-description {
    font-size: 12px;
    color: #868686;
    margin-top: 4px;
    margin-bottom: 0;
}

.top-song-title-artist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-subheader {
    margin: 25px 0;
    font-size: 15px;
    color: #737373;
}

/* duration */

.button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.button:hover {
    background-color: #bbbbbb;
    border: none;
    transition: 0.3s;
    cursor: pointer
}

#duration-btn {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #33a02c;
    font-size: 14px;
    color: white;
}

#duration-btn:hover {
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#duration-explanation {
    color: #33a02c;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.25, 0.25);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    100% {
        opacity: 0;
        transform: scale(1, 0);
    }
}

.toFadeIn {
    animation: 1s ease-out 0s 1 fadeIn forwards;
}

.toFadeOut {
    animation: 1s ease-out 0s 1 fadeOut forwards;
}

/* char panel */
.char-song-header p {
    font-size: 15px;
}