
/* ADD YOUR STYLES HERE */

.col {
    padding:1cm;
}

.titles {
    text-align: center;
}
h1 {
    /* font-size:30px; */
    color:#1DB954;
}

h2 {
    color:#191414;
}


body {
    background-color: #FFFFFC;
    color: #30323D;
    padding-top: 2cm;
}

.hook {
    margin: 1cm;
}